.details-address {
	margin-bottom: 40px;

	&__title {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 40px;
		margin-bottom: 25px;

		&__balance {
			// font-weight: bold;
			font-size: 18px;
		}
	}

	&__body {
		&__code {
			padding: 10px;
			border-radius: 4px;
			border: 1px solid rgba(207, 207, 207, 0.493);
			background-color: rgba(207, 207, 207, 0.3);
		}
	}
}
