.block-table {
	margin-top: 40px;

	&__block {
		cursor: pointer;
		color: rgba(0, 0, 0, 0.6);
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 20px;
		margin: 18px 0;
		border-radius: 6px;
		box-shadow: 0 4px 20px 0 rgba(111, 124, 142, 0.1);

		&__height {
			font-weight: bold;
			font-size: 18px;
		}

		&__time {
			font-size: 12px;
		}

		&__hash {
			font-size: 13px;
		}

		&__txs {
			font-size: 13px;

			&__text {
				font-size: 12px;
			}
		}
	}
}
