.status-indicator {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
	background-color: rgba(255, 255, 255, 0.9);
	
	h1 {
		text-align: center;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		margin: 0;
	}
}
