@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Mono&display=swap');

.App {
  font-family: 'Roboto', sans-serif;
  letter-spacing: .5px;
  display: flex;
  justify-content: center;

  &__container {
    width: 1000px;
    margin: 0 20px;
  }

  &__indicator {
    position: fixed;
    right: 30px;
    bottom: 20px;
  }

  .input-group {
    margin: 10px 0;

    &__input {
      width: 250px;
      padding: 10px;
    }
  }

  a {
    text-decoration: none;
    color: #404040;

    &.active {
      color: #004ffa;
    }
  }

  .mono {
    font-family: 'Fira Mono', monospace;
  }
}
