.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 75px;
  padding: 0 15px;

  .link {
    margin-left: 15px;
    font-weight: 500;
    text-decoration: none;
    color: white;
  }

  &__brand {
    &__logo {
      a {
        display: flex;
        align-items: center;

      }
      &__img {
        height: 30px;
      }
    }
  }

  &__menu {
    display: flex;
    align-items: center;

    &__right {
      display: flex;
      align-items: center;

      &__link {
        margin-left: 30px; 
      }

      &__apps {
        cursor: pointer;
        width: 20px;
        height: 18px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
  
        &__line {
          display: flex;
          justify-content: space-between;
          width: 100%;
          height: 4px;
          
          span {
            width: 4px;
            height: 4px;
            background-color: #00bffa;
          }
        }
      }
    }

    &__user {
      margin-left: 25px;
    }
  }
}
