.details-block {
	margin-bottom: 40px;

	&__title {
		margin-top: 40px;
		margin-bottom: 25px;
	}

	&__body {
		&__code {
			padding: 10px;
			border-radius: 4px;
			border: 1px solid rgba(207, 207, 207, 0.493);
			background-color: rgba(207, 207, 207, 0.3);
		}
	}
}
