.home {
	margin-bottom: 40px;
	
	&__header {
		margin: 40px 15px;
		display: flex;
		justify-content: space-between;

		&__content {
			&__title {
				font-size: 12px;
				text-transform: uppercase;
				margin-bottom: 3px;
				color: rgba(0, 0, 0, 0.5);
			}
			&__value {
				font-weight: bold;
				font-size: 19px;
				color: rgba(0,0,0,0.7)
			}
		}
	}
	
	&__body {
		&__search {
			background: linear-gradient(135deg, #00bffa 0%,#004ffa 100%);
			box-shadow: 0 4px 20px 0 rgba(111,124,142,.6);
			border-radius: 6px;
			padding: 30px 20px;

			&__title {
				font-weight: bold;
				margin-bottom: 18px;
				color: #FAFAFA;
				display: flex;

				&__tab {
					position: relative;
					cursor: pointer;
					margin-right: 17px;
					
					&.active {
						&::after {
							content: " ";
							position: absolute;
							bottom: -2px;
							left: 0;
							right: 0;
							height: 1px;
							background-color: white;
						}
					}
				}
			}

			&__group {
				position: relative;

				&__icon {
					position: absolute;
					width: 20px;
					height: 20px;
					right: 10px;
					top: 50%;
					transform: translateY(-50%);
					opacity: 0.5;
				}
				input {
					width: 100%;
					box-sizing: border-box;
					padding: 10px 35px 10px 10px;
					border-radius: 4px;
					border: none;
					outline: none;
					font-size: 13px;
					box-shadow: 0 4px 20px 0 rgba(111,124,142,.8);
				}
			}
		}
	}
}
