$main-color: #FF1738;
$main-gradient: linear-gradient(to right,#ff512f,#ff4731,#ff3b33,#ff2c35,#ff1738);
$text-color: #242331;

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #242331;
  font-size: 14px;

  h3 {
    margin: 0;
    font-size: 16px;
    color: #404040;
  }
}
